@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heroPage{
    background-color: rgba(4, 19, 77, 0.743);
}
.bg-info{
    background-color: purple;
    color: white;
}
.form-bg{
    background-color: rgba(240, 93, 216, 0.5);
    color: white;
}
.form-feild{
    @apply block w-full border rounded-sm py-1.5 pl-1 bg-transparent   placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6;
}
.btn-primary{
    @apply my-5  rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}